<%= bootstrap_form_for([@location, @location.recordings.build]) do |f| %>
	<div class = "row">
		<div class = "col-md-3">
			<div class = "field">
				<h1>TEMP</h1>
				<%= f.text_field :temp, class: "form-control" %>
				<h1>STATUS</h1>
				<%= f.text_area :status, class: "form-control" %>
						<%= f.submit "Save recording", class: "btn btn-success" %>
			</div>
		</div>
	</div>
<% end %>