// ...default comments

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables
@import "base/variables";

// Default styles
@import "base/default";


// Partials - main css files
@import "partials/layout/*";

// Partials - main css files
@import "partials/*";
@import "partials/layout/*";
@import "responsive/*";